<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jsp.board.service.BoardMapper">
	<!-- 게시판에서 작성 insert -->
	<insert id="insertBoard" parameterType="sb">
		INSERT INTO sboard(boardnum, custid, title, content,pw)
		VALUES (sboard_seq.nextval,#{custid}, #{title}, #{content},#{pw})
	</insert>

	<!-- 게시판의 모든 글을 내림차순으로 가져옴 select -->
	<select id="selectAll" resultType="sb">
		SELECT *
		FROM sboard
		ORDER BY boardnum desc
	</select>

	<!-- 게시판에서 하나의 글을 읽음 select -->
	<select id="getBoard" resultType="sb">
		SELECT boardnum, custid, title,
		content,
		to_char(inputdate,'yyyy/mm/dd') as inputdate,hits,pw
		FROM sboard
		WHERE boardnum = #{boardnum}
	</select>

	<!-- 비밀번호가 맞으면 글을 수정 update -->
	<update id="updateBoard" parameterType="sb">
		UPDATE sboard
		SET custid = #{custid}, title = #{title}, content = #{content}, pw =
		#{pw}
		WHERE pw = #{pw}
	</update>

	<!-- 비밀번호가 맞으면 글을 삭제 delete -->
	<delete id="deleteBoard" parameterType="string">
		DELETE sboard
		WHERE pw = #{pw}
	</delete>

	<!-- 비밀번호를 확인 select -->
	<select id="checkPw" resultType="int">
		SELECT COUNT(*)
		FROM sboard
		WHERE pw = #{pw}
	</select>

	<!-- 글을 클릭하면 조회수가 증가 update -->
	<update id="addHits">
		UPDATE sboard
		SET hits = hits + 1
		WHERE boardnum = #{boardnum}
	</update>
</mapper>
