<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jsp.board.service.SCustomerMapper">

	<!-- 회원가입 insert -->
	<insert id="joinCustomer" parameterType="sc">
		INSERT INTO scustomer(custid, password, name, email, division, idno,
		address)
		VALUES (#{custid}, #{password}, #{name}, #{email}, #{division}, #{idno},
		#{address})
	</insert>

	<!-- 회원가입 수정 update -->
	<update id="updateCustomer" parameterType="sc">
		UPDATE scustomer
		SET password = #{password}, name = #{name}, email = #{email}, division =
		#{division}
		, idno = #{idno}, address = #{address}
		WHERE custid = #{custid}
	</update>

	<!-- 탈퇴 delete -->
	<delete id="deleteCustomer">
		DELETE
		FROM scustomer
		WHERE custid = #{custid} AND password = #{password}
	</delete>

	<!-- 로그인 select -->
	<select id="login" parameterType="sc" resultType="sc">
		SELECT *
		FROM scustomer
		WHERE custid = #{custid} AND password = #{password}
	</select>

	<!-- id 확인 select -->
	<select id="checkId" resultType="string">
		SELECT custid
		FROM scustomer
		WHERE custid = #{custid}
	</select>

</mapper>
