<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<typeAlias type="org.jsp.board.vo.SBoard" alias="sb"/>
	<typeAlias type="org.jsp.board.vo.SCustomer" alias="sc"/>
	<typeAlias type="org.jsp.board.vo.Product" alias="p"/>
	<typeAlias type="org.jsp.board.vo.Orderproduct" alias="op"/>
	<typeAlias type="org.jsp.board.vo.Shoppinglist" alias="sl"/>
	</typeAliases>
</configuration>